<%= stylesheet_link_tag "officers" %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 officers-text">
      <h1 class="title-text">Edit Officer Information</h1>
      <p>
        Edit the name, major, and year of the officer below!
      </p>

      UNCHANGED FIELDS: <br>
        EMAIL: <%= @officers.email %> <br>
        POSITION: <%= @officers.position %> <br>

      <%= form_for(@officers) do |officer| %>

        <%= officer.label :Name %>
        <div class="form-group">
          <%= officer.text_field :name, class:"form-control" %>
        </div>

        <%= officer.label :Major %>
        <div class="form-group">
          <%= officer.text_field :major, class:"form-control" %>
        </div>

        <%= officer.label :Year %>
        <div class="form-group">
          <%= officer.text_field :year, class:"form-control" %>
        </div>

        <%= officer.label :Image %>
        <div class="form-group">
          <%= officer.file_field :image_name, required: false, multiple: false, accept:'image/*', class:"form-control" %>
        </div>

        <%= officer.submit "Save changes", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
