<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="app/assets/stylesheets/meetings.scss">
    </head>

    <body>
        <div class="meetings">
            <h3 class="title">Meetings & Files</h3>
            <% if current_admin %>
                <!-- ONLY ADMIN SHOULD SEE THIS BUTTON-->
                <%= form_tag meetings_path, enctype: 'multipart/form-data' do %>
                    <%= file_field_tag :file, required: true, multiple: false, accept:'.pdf,.pptx,.ppt'  %>
                <!-- ONLY ADMIN SHOULD SEE THIS BUTTON-->
                    <%= submit_tag 'Upload Meeting File' %>
                <% end %>
            <% end %>
            <ul>
                <% @meetings.each do |meeting| %>
                    <li class="meetingsitem">
                        <div class="item">
                            <div>
                                <%= link_to meeting.date, meeting.url %>
                            </div>
                            </a>
                            <!-- ONLY ADMIN SHOULD SEE THIS BUTTON-->
                            <td style="border: 2px solid red;">
                                <% if current_admin %>
                                  <%= link_to "Delete Meeting", meeting, method: :delete, data: {confirm: "Are you sure you want to delete this meeting?"} %>
                                <% end %>
                            </td>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </body>

</html>