<%= stylesheet_link_tag "faq" %>
<%= render 'shared/error_messages' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 faq-btns">
      <h1 class="title-text">Edit Existing FAQ</h1>
      <p>
        Change the FAQ and/or its answer below!
      </p>

      <%= form_for(@faqs) do |faq| %>

        <%= faq.label :question %>
        <div class="form-group">
          <%= faq.text_area :question, class:"form-control" %>
        </div>

        <%= faq.label :answer %>
        <div class="form-group">
          <%= faq.text_area :answer, class:"form-control" %>
        </div>
        
        <%= link_to "Cancel", faqs_path ,class:"btn btn-primary" %>
        <%= faq.submit "Save changes", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
