<%= stylesheet_link_tag "faq" %>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 faq-btns">
        <h1 class="title-text">NSCS FAQs</h1>
        <% @faqs.each do |faq| %>
        <div class="panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                  <%= faq.question %>
                  <% if current_admin %>
                    <%= link_to "Edit", edit_faq_path(faq), class:"btn btn-primary" %>
                    <%= link_to "Delete", faq, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-primary" %>
                  <% end %>
                </a>
              </h2>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <%= faq.answer %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% if current_admin %>
          <%= link_to "ADD A NEW QUESTION", new_faq_path, class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
