<%= stylesheet_link_tag "faq" %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 faq-btns">
      <h1 class="title-text">Create New FAQ</h1>
      <p>
        Enter the FAQ and its answer below!
      </p>

      <%= form_for(@faqs) do |n| %>
        <%= n.label :Question %>
        <div class="form-group">
          <%= n.text_area :question, class:"form-control" %>
        </div>


        <%= n.label :Answer %>
        <div class="form-group">
          <%= n.text_area :answer, class:"form-control" %>
        </div>

        <%= n.submit "POST", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
