<%= stylesheet_link_tag "newsfeeds" %>
<%= render 'shared/error_messages' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 newsfeed">
      <h1 class="title-text">Edit Announcement</h1>
      <p>
        Change the content of the announcement below!
      </p>

      <%= form_for(@newsfeeds) do |news| %>

        <%= news.label :edit %>
        <div class="form-group">
          <%= news.text_area :news, class:"form-control" %>
        </div>
        
        <%= link_to "Cancel", newsfeeds_index_path ,class:"btn btn-primary" %>
        <%= news.submit "Save changes", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
