<!DOCTYPE html>
<html>
  <head>
    <title>TAMU NSCS Home</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "home" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid"></div>
    <!-- Gallery -->
    <!-- <div id="myCarousel" class="jumbotron jumbotron-fluid carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "members.jpg" %>
          <div class="carousel-caption">
            <h3>NSCS Members</h3>
            <p>This is something something something</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag "acadbldg.jpg" %>
          <div class="carousel-caption">
            <h3>Academic Building</h3>
            <p>Lorem ipsum...</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag "generalmeeting.jpg" %>
          <div class="carousel-caption">
            <h3>NSCS Member Meeting</h3>
            <p>Lorem ipsum...</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->
    <!-- End Gallery -->

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 id="title-text">National Society of Collegiate Scholars</h1>
          <h2 id="subheader-text">Texas A&M University Chapter</h2>
          <p class="org-description">
            The National Society of Collegiate Scholars at Texas A&M University
            is an honor society that recognizes high-achieving students.
            NSCS is proud to offer almost half a million dollars in scholarships.
            More importantly, NSCS is a growth opportunity, leadership training ground,
            and resource for our students. <br/><br/>Students who join NSCS meet people on campus
            they might not have meet without NSCS – people who become friends, long-term
            supporters, and future colleagues. Our students get the tools and encouragement
            they need to take part in transforming our campus and the community that means
            the most to them.
          </p>
        </div>
        <!-- Announcements -->
        <div class="col-sm-4">
          <div class="well well-lg table-responsive-xl">
            <% if current_member %>
              <table class="table table-striped">
                <thead>
                  <th><h2>Announcements</h2></th>
                </thead>
                <% @newsfeed.each do |news| %>
                  <tr>
                    <td> <%= news.news %> </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
      <hr>

      <!-- Calendar -->
      <div class="row">
        <h2>Upcoming Events</h2>
        <div class="col-lg-12 calendar-admin-btns">
          <h3>Make changes to calendar</h3>
          <% if current_admin %>
            <%= link_to 'New Calendar Event', new_events_path, class:"btn btn-primary" %>
            <%= link_to 'Get Events', list_events_path, class:"btn btn-primary" %>
          <% end %>
        </div>
        <div class="col-lg-12 calendar-content">
          <iframe
            src="https://calendar.google.com/calendar/embed?src=ubace36j9l84a6jtc252d5g0m4%40group.calendar.google.com&ctz=America%2FChicago"
            style="border-width: 0"
            display="block"
            width="800"
            height="600"
            frameborder="0"
            scrolling="no">
          </iframe>
        </div>
      </div>
      <!-- End Calendar -->

      <!-- General Events -->
      <div class="row">
        <h1>Events</h1>
        <div class="col-sm-3">
          <div class="card">
            <a href="\about" class="event-icon"><i class="fa fa-heart"></i></a>
            <div class="card-body">
              <h2 class="card-title">Service</h2>
              <p class="card-text">
                Service is one of the pillars of NSCS. Every
                month, we have one major service event along with many other small
                events. Some of these events include: bingo at Magnified Nursing
                Home, Adopt-a-Street, Big Event, and much more!
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <a href="\about" class="event-icon"><i class="fa fa-users"></i></a>
            <div class="card-body">
              <h2 class="card-title">Social</h2>
              <p class="card-text">
                In NSCS we strive to build strong leaders who
                are not only scholars, but also active members in their communities.
                Our social events allow members to meet fellow members and network
                outside of our society.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <a href="\about" class="event-icon"><i class="fa fa-book"></i></a>
            <div class="card-body">
              <h2 class="card-title">Study Hours</h2>
              <p class="card-text">
                Scholarship, another NSCS pillar, is a top priority for the Texas
                A&M chapter of NSCS. An officer hosts study hours in a library on
                campus twice a month and members are encouraged to come and study.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <a href="\about" class="event-icon"><i class="fa fa-gift"></i></a>
            <div class="card-body">
              <h2 class="card-title">Fundraising</h2>
              <p class="card-text">
                Each month, NSCS hosts fundraising events, such as profit shares.
                These events allow us to provide exciting social and service
                opportunities for our members.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
