<h1>Gallery</h1>


<!-- ONLY ADMIN SHOULD SEE THIS BUTTON-->
<%= form_tag photos_path, enctype: 'multipart/form-data' do %>
	<%= file_field_tag :file, required: true, multiple: false, accept:'image/*'  %>
<!-- ONLY ADMIN SHOULD SEE THIS BUTTON-->
	<%= submit_tag 'Upload file' %>
<% end %>
<div>
	<% @photos.each do |photo| %>
		<div>
			<!-- <%= link_to photo.name, photo.url %>-->
			<a href= "<%= photo.url %>" >
				<%= image_tag photo.url, size: "200x200", alt: "img"%>
			</a>
		</div>
	<% end %>
</div>