<h1>Upload Portal</h1>

<%= form_tag uploads_path, enctype: 'multipart/form-data' do %>
	<%= file_field_tag :file, required: true, multiple: false, accept:'image/*'  %>
	<%= submit_tag 'Upload file' %>
<% end %>

<% @uploads.each do |upload| %>
	<div>
		<%= link_to upload.name, upload.url %>
		<%= image_tag upload.url, size: "200x200", alt: "img"%>
	</div>
<% end %>