<!DOCTYPE html>
<html>
  <head>
    <title>TAMU NSCS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

  <body>
  <!-- Navigation Bar -->
    <nav class="navbar navbar-default myNavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <%= link_to home_path do %>
              <%= image_tag "nscslogo.png", class: "navbar-logo" %>
              <!-- <span id="brand-text">TAMU Chapter</span> -->
            <% end %>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "FAQ", faqs_path %></li>
            <li><%= link_to "Officers", officers_path %></li>
            <li><%= link_to "Gallery", photos_path %></li>
            <% if current_member %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= current_member.name %><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", points_index_path(:email => current_member.email) %></li>
                  <li><%= link_to "Meetings", meetings_index_path %></li>
                  <li role="separator" class="divider"></li>
                  <% if current_admin %>
                    <li><%= link_to "Admin", admin_page_path %></li>
                    <li><a href="http://nscs-documentation.s3-website.us-east-2.amazonaws.com/">Documentation</a></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navigation Bar -->

    <!--  Body -->
    <div class="container content">
      <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <!-- End Body -->

    <!-- Footer Bar -->
    <footer id="myFooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <%= link_to home_path do %>
              <%= image_tag "RGB-Crimson-Gold-Logo-1080x8352-300x298.png", class: "logo" %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <h5>Contact Us</h5>
            <p>
              123-456-7890<br/>
              tamunscspres@gmail.com<br/>
              Texas A&M University Rudder Tower<br/>
              401 Joe Routt Blvd,<br/>
              College Station, Texas 77840
            </p>
          </div>
          <div class="col-sm-2">
            <h5>Links</h5>
            <ul>
              <li><a class="white-text" href="https://nscs.org/nscs-scholarships/">Scholarships</a></li>
              <li><a class="white-text" href="https://www.nscsgear.org/store/catalog">NSCS Store</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>Connect With Us</h5>
            <div class="social-networks">
              <a href="https://twitter.com/NSCS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/nscs.tamu" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/nscs/" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
          <p>Copyright © 2018. NSCS Texas A&M Chapter. All rights reserved.</p>
      </div>
    </footer>
    <!-- End Footer Bar -->

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="js/init.js"></script>
    <script>
    $(document).ready(function() {

        var docHeight = $(window).height();
        var footerHeight = $('#footer').height();
        var footerTop = $('#footer').position().top + footerHeight;

        if (footerTop < docHeight)
            $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
    });
    </script>
  </body>
</html>
