<h1>Edit member info</h1>
<%= form_for @member, url: members_url(:id => @member.id), html: {method: "put"} do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email %>
  <%= f.label :pace, 'Has pace?'%>
  <%= f.check_box :pace %>
  <%= f.button :submit %>
<% end %>