<h1>List of all members</h1>

<% @members.each do |member| %>
  <p>===============================</p>
  <%= "Name #{member.name}" %>
  <br/>
  <%= "Email: #{member.email}" %>
  <br/>
  <%= "PACE: #{member.pace}" %>
  <br/>
  <%= link_to 'more', members_url(:id => member.id) %>
  <br/>
<% end %>
<%= link_to 'Add new member', new_members_url %>