<%= stylesheet_link_tag "members" %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 member-list">
      <h1 class="title-text"><%= "#{@member.name}" %>'s Profile</h1>
      <p>
        You're currently viewing <%= "#{@member.name}" %>'s profile.
        You can show their points, or edit/delete the member.
      </p>
      <%= link_to 'Back to member list', members_index_url, class:"btn btn-primary member-back" %>

      <div class="row profile">
        <div class="col-lg-12">
          <div class="img-box">
            <img src="http://nabeel.co.in/files/bootsnipp/team/10.jpg" class="img-responsive">
          </div>
          <h1><%= "Name: #{@member.name}" %></h1>
          <h1><%= "Email: #{@member.email}" %></h1>
          <h1><%= "PACE: #{@member.pace}" %></h1>
          <%= link_to 'Show points', points_index_url(:email => @member.email), class:"btn btn-primary" %>
          <%= link_to 'Edit member info', edit_members_url(:id => @member.id), class:"btn btn-primary" %>
          <%= link_to 'Delete member',members_url(:id => @member.id), method: :delete, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
